<div class="container content-app">
    <button class="w3-btn w3-block w3-theme-l5">w3-theme-l5</button><br>
    <button class="w3-btn w3-block w3-theme-l4">w3-theme-l4</button><br>
    <button class="w3-btn w3-block w3-theme-l3">w3-theme-l3</button><br>
    <button class="w3-btn w3-block w3-theme-l2">w3-theme-l2</button><br>
    <button class="w3-btn w3-block w3-theme-l1">w3-theme-l1</button><br>
    <button class="w3-btn w3-block w3-theme-d1">w3-theme-d1</button><br>
    <button class="w3-btn w3-block w3-theme-d2">w3-theme-d2</button><br>
    <button class="w3-btn w3-block w3-theme-d3">w3-theme-d3</button><br>
    <button class="w3-btn w3-block w3-theme-d4">w3-theme-d4</button><br>
    <button class="w3-btn w3-block w3-theme-d5">w3-theme-d5</button><br>
    <button class="w3-btn w3-block w3-theme-light">.w3-theme-light</button><br>
    <button class="w3-btn w3-block w3-theme-dark">.w3-theme-dark</button><br>
    <button class="w3-btn w3-block w3-theme-action">.w3-theme-action</button><br>
    <button class="w3-btn w3-block w3-theme">w3-theme</button><br>
    <button class="w3-btn w3-block w3-theme-food">w3-theme-food</button><br>
    <button class="w3-btn w3-block w3-text-theme">w3-text-theme</button><br>
    <button class="w3-btn w3-block w3-border-theme">w3-border-theme</button><br><br><br>
</div>